@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #000000; /* mudar essas cores aq tb*/
    --primary-bg-color: #ecf0f1;
    --secondary-color: #2ecc71;
    --border-color: #bdc3c7;

    --title-color: #2c3e50;
    --text-color: #34495e;
    --link-color: #2980b9;
    --icon-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-color);
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row warp;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header__brand.brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
}

.menu {
    display: flex;
    align-items: center;
}

.menu--mobile {
    justify-content: space-between;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

