@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #000000; /* mudar essas cores aq tb*/
    --primary-bg-color: #ffffff;
    --secondary-color: #b700ff;
    --border-color: #ffffff;

    --title-color: #2c3e50;
    --text-color: #540670;
    --link-color: #2980b9;
    --icon-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-color);
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.brand__logo {
    width: 3.75rem;
    height: 3.75rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
}

.menu {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: var(--primary-color);
}

.menu__item{
    width: 100%;
}

.menu--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0; 
    width: 100vw;
    border-top: 1px solid var(--border-color);
    background: var(--primary-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text {
    color: var(--primary-bg-color);
    font-weight: 600;

}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;

}

.menu--principal {
    gap: 1rem;
    display: flex;

}

.menu.menu--principal {
    flex-direction: row;
    gap: 2rem;
    width: auto;
    position: relative; 
}

@media (min-width: 768px) {
    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
        position: relative; 
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin-left: 1rem; 
    }

    .menu__link {
        flex-direction: row;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }

}

